{% extends 'document_generation_app/base.html' %}

{% block content %}

<h2 class="p-4">Трудовой договор</h2>

<form action="{% url 'employment_contract_generation' %}" id="form_document" method="post" class="p-5">
    {% csrf_token %}

    <div class="mb-3 form-group col-lg-2 position-relative">
        <label for="firstname" class="form-label">Номер</label>
        <input type="text" id="firstname" name="number" class="form-control" maxlength="30" required/>
    </div>

    <div class="mb-3 form-group col-lg-4 position-relative">
        <label for="job_title" class="form-label">Должность</label>
        <input type="text" id="job_title" name="job_title" class="form-control" required/>
    </div>

    <div class="mb-3 form-group col-lg-2 position-relative">
        <label for="salary" class="form-label">Размер оклада</label>
        <input type="number" id="salary" name="salary" class="form-control" required/>
    </div>

    <div class="mb-3 form-group col-lg-4 position-relative">
        <label class="form-label">Тип трудового договора</label><br>
          <input type="radio" id="perpetual" value="perpetual" name="contract_type" required checked><label for="perpetual" class="light">Бессрочный договор</label><br>
          <input type="radio" id="urgent" value="urgent" name="contract_type" required><label for="urgent" class="light">Срочный договор</label><br>
    </div>

    <div class="mb-3 col-lg-2 position-relative">
        <label for="start_date" class="form-label">Начало работ</label>
        <input type="date" id="start_date" name="start_date" class="form-control" required/>
    </div>

    <div id="block_end_date_urgent">
        <div class="mb-3 col-lg-2 position-relative">
            <label for="end_date_urgent" class="form-label">Окончание работ</label>
            <input type="date" id="end_date_urgent" name="end_date_urgent" class="form-control"/>
        </div>

        <div class="mb-3 form-group col-lg-6 position-relative">
            <label for="cause" class="form-label">Причина заключения срочного трудового договора</label>
            <input type="text" id="cause" name="cause" class="form-control"/>
        </div>
    </div>

    <div class="mb-3 form-group col-lg-1 position-relative">
        <label for="start_time" class="form-label">Время начало работы</label>
        <input type="time" id="start_time" name="start_time" class="form-control" required/>
    </div>

    <div class="mb-3 form-group col-lg-1 position-relative">
        <label for="end_time" class="form-label">Время окончания работы</label>
        <input type="time" id="end_time" name="end_time" class="form-control" required/>
    </div>

    <div class="mt-sm-5">
        <input type="submit" value="Сгенерировать" class="btn btn-primary">
    </div>
</form>

{% endblock %}