{% extends 'document_generation_app/base.html' %}

{% block content %}

<form action="{% url 'payment_order_for_advance_payment_generation' %}" id="form_document" method="post" class="p-5">
    {% csrf_token %}

    <div class="mb-3 form-group col-lg-2 position-relative">
        <label for="number_months" class="form-label">Количество месяцев на продление патента</label>
        <input type="number" id="number_months" name="number_months" class="form-control" maxlength="10" required/>
    </div>

    <div class="mt-sm-5">
        <input type="submit" value="Сгенерировать" class="btn btn-primary">
    </div>
</form>

{% endblock %}