{% extends 'document_generation_app/base.html' %}

{% block content %}

<h2 class="p-4">Запрос МИФНС о праве организации не удерживать НДФЛ</h2>

<form action="{% url 'right_not_to_withhold_pit_generation' %}" id="form_document" method="post" class="p-5">
    {% csrf_token %}

    <div class="mb-3 form-group col-lg-2 position-relative">
        <label for="code" class="form-label">Код</label>
        <input type="text" id="code" name="code" class="form-control" maxlength="4" required/>
    </div>

    <div class="mt-sm-5">
        <input type="submit" value="Сгенерировать" class="btn btn-primary">
    </div>
</form>

{% endblock %}