{% extends 'document_generation_app/base.html' %}

{% block content %}

<h2 class="p-4">Уведомление о расторжении</h2>

<form action="{% url 'termination_notice_generation' %}" id="form_document" method="post" class="p-5">
    {% csrf_token %}

    <div class="mb-3 form-group col-lg-8 position-relative">
        <label for="name" class="form-label">Наименование территориального органа МВД России на региональном уровне</label>
        <input type="text" id="name" name="name" class="form-control" maxlength="105" required/>
    </div>

    <div class="mb-3 form-group col-lg-4 position-relative">
        <label for="job_title" class="form-label">Должность</label>
        <input type="text" id="job_title" name="job_title" class="form-control" maxlength="105" required/>
    </div>

    <div class="mb-3 form-group col-lg-4 position-relative">
        <label for="base" class="form-label">Договор на основании которого осуществляется трудовая деятельность иностранного гражданина (лицом без гражданства)</label>
            <select id="base" name="base">
                <option value="Трудовой договор<">Трудовой договор</option>
                <option value="Гражданско-правовой договор на выполнение работ (оказание услуг)">Гражданско-правовой договор на выполнение работ (оказание услуг)</option>
        </select>
    </div>


    <div class="mb-3 col-lg-2 position-relative">
        <label for="end_date" class="form-label">Дата прекращения договора</label>
        <input type="date" id="end_date" name="end_date" class="form-control" required/>
    </div>

    <div class="mb-3 form-group col-lg-4 position-relative">
        <label class="form-label">Договор прекращён по инициативе иностранного гражданина</label><br>
          <input type="radio" id="yes" value="yes" name="initiator" required><label for="yes" class="light">Да</label><br>
          <input type="radio" id="no" value="no" name="initiator" required><label for="no" class="light">Нет</label>
    </div>


    <div class="mb-3 form-group col-lg-4 position-relative">
        <label class="form-label">Лицо, представляющее настоящее уведомление</label><br>
          <input type="radio" id="person_proxy" value="person_proxy" name="person" required><label for="person_proxy" class="light">Человек, который подаёт документы по доверенности</label><br>
          <input type="radio" id="director" value="director" name="person" required><label for="director" class="light">Директор</label>
    </div>

    <div class="mb-3 form-group col-lg-4 position-relative" id="block_person_proxy">

        <div class="mb-3 form-group col-lg-8 position-relative">
            <label for="full_name" class="form-label">Фамилия, имя, отчество (при наличии)</label>
            <input type="text" id="full_name" name="full_name" class="form-control required_input" maxlength="56" required/>
        </div>

        <div class="row g-3 mt-sm-2" id="passport">
            <label class="form-label">Паспорт</label>

            <div class="form-group col-lg-3 position-relative">
                <label for="series" class="form-label">Серия</label>
                <input type="text" id="series" name="series" class="form-control required_input" maxlength="4" required/>
            </div>

            <div class="mb-3 form-group col-lg-3 position-relative">
                <label for="number" class="form-label">Номер</label>
                <input type="text" id="number" name="number" class="form-control required_input" maxlength="6" required/>
            </div>
        </div>

        <div class="mb-3 col-lg-5 position-relative">
            <label for="date_issue" class="form-label">Дата выдачи</label>
            <input type="date" id="date_issue" name="date_issue" class="form-control required_input" required/>
        </div>

        <div class="mb-3 form-group col-lg-20 position-relative">
            <label for="issued_by" class="form-label">Кем выдан</label>
            <textarea type="text" id="issued_by" name="issued_by" class="form-control required_input" maxlength="200" required/></textarea>
        </div>

    </div>

    </div>

    <div class="mt-sm-5">
        <input type="submit" value="Сгенерировать" class="btn btn-primary">
    </div>
</form>

{% endblock %}